/* Header */
a.navbar-brand {
    color: #fff !important;
}
a.navbar-brand:hover{
    color: #fff !important;
}
.navbar .nav-link{
    color: #fff !important;
}
.navbar .nav-link:hover{
    color: #fff !important;
}
.header{
    position: sticky;
    top: 0;
    z-index: 999;
}
/* End Header */

/* Body */
.body .sider{
    width: 160px;
    height: calc(100vh - 56px) ;
    position: fixed;
    top: 56px;
    left: 0;
}
.body .main{
    margin: 15px;
    position: relative;
    left: 160px;
    width: calc(100% - 190px);
}

/* Product */


/* Product End */